<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Fiscaliza-Edu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" [routerLink]="['/lista-creche']">Ongs</a>
    </div>
  </div>
</nav>


<br />
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Creches</li>
  </ol>
</nav>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Pesquise creches ou ONGS" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
</form>
<br/>

<ul class="list-group">
  <a [routerLink]="['/detalhe-ong']">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      nome ONG
      <span class="badge badge-primary badge-pill">Creches - 14</span>
    </li>
  </a>
</ul>