<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Fiscaliza-Edu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" [routerLink]="['/lista-creche']">ONGs</a>
    </div>
  </div>
</nav>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/img/fiscaliza.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fiscalizar Creches</h5>
    <p class="card-text">Acompanhe o andamento administrativo das Creches Paulistanas</p>
    <a [routerLink]="['/lista-creche']" class="btn btn-primary">Acompanhar</a>
  </div>
</div> -->
<div class="teste">
  <h1 id="messageBanner">Fiscaliza-Edu. Fiscalizando gastos com Creches</h1>
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/lista-creche']">Fiscalizar</button>
  <h3 id="textBanner">Fiscalize ONGs e veja se o dinheiro que está sendo investido nas creches estão sendo utilizados corretamente</h3>

</div>