<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Fiscaliza-Edu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link">Home
      </a>
      <a class="nav-item nav-link" [routerLink]="['/lista-creche']">Ongs</a>
    </div>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/lista-creche']">Ongs</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/detalhe-ong']">Detalhe Ongs</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Detalhe Creches</li>
  </ol>
</nav>
<br />
<ul class="list-group">
  <li class="list-group-item disabled">Nome: {{allCreche.nome}}</li>
  <li class="list-group-item">Quantidade total de alunos: {{allCreche.numerosAlunos}}</li>
  <li class="list-group-item">Quantidade de Alunos Bercário: {{allCreche.alunosBercarios}}</li>
  <li class="list-group-item">Faixa etária: {{allCreche.faixaEtaria}}</li>
  <li class="list-group-item">Custo total de Alunos: R${{allCreche.totalCrianca}}</li>
  <li class="list-group-item">Valor do Aluguel: {{allCreche.valorAcrescimoCustear}}</li>
  <li class="list-group-item">Custo Mensal: {{allCreche.valorPagTotalMensal}}</li>
  <li class="list-group-item">Custo Semestral: {{allCreche.valorPagTotalSemestral}}</li>
  <li class="list-group-item">Vigência de contrato: {{allCreche.vigencia}}</li>

</ul>